 <!-- Main Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
      <a class="navbar-brand" href="/">
        <img src="../assets/images/Logo.jpg" alt="Logo" width="200" height="180">
      </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
  
          <li class="nav-item" style="font-size:30px">
            <a class="nav-link active" aria-current="page" href="/home"><i class="fas fa-home"></i> Home</a>
          </li>

          <li class="nav-item" style="font-size:30px">
            <a class="nav-link active" aria-current="page" href="/about"><i class="fas fa-user"></i> About</a>
          </li>

          <li class="nav-item" style="font-size:30px">
            <a class="nav-link active" aria-current="page" href="/survey-list"><i class="fas fa-folder-open"></i> Surveys</a>
          </li>
        </ul>
<!--
          < % if(typeof displayName == 'string' && displayName) { %>
          <li class="navbar-text"><i class="fas fa-lg"> </i>Welcome, < %= displayName%> </li>
          <li class="nav-item"><a href="/logout" class="nav-link">
            <i class="fas fa-lg fa-sigh-out-alt"></i> Logout</a></li>
          < % } else { %>
            <li class="nav-item"><a href="/login" class="nav-link">
              <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>

          < % } %>
-->

    </div>
  </nav>
